@import 'mixins';

//Utilidades

body {
	font-family: 'Roboto', sans-serif;
	color: $grisText;
}
.u-title {
	color: $azulClaro;
	font-size: 42px;
	font-weight: 600;
}


// Header Menu

.nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	max-height: 100vh;
	overflow-y: scroll;
	background-color: $azulOscuro;
	z-index: 99;

	&::-webkit-scrollbar {
		width: 2px !important;
	}

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent !important;
		border-left: 10px solid $azulClaro;
		outline: 0;
	}

	&Short {
		width: 72px;
		position: relative;

		&Container {
			.u-logo {
				background-color: $azulClaro;
				text-align: center;
				padding: 10px 0;
				line-height: 0;
			}
			.u-profile {
				margin-top: 60px;
				text-align: center;
			}
			.u-points, .u-menu {
				margin-top: 60px;
				text-align: center;
				.item {
					margin-bottom: 32px;

					.u-yellow {
						color: $verde;
					}
					.u-purple {
						color: $morado;
					}
					.u-red {
						color: $rojo;
					}
					.u-blue {
						color: $azulClaro;
					}
				}
			}
		}
	}
}

// Hero 
.u-home {
	background-image: url(../img/hero-home.jpg);
}
.u-calendar {
	background-image: url(../img/hero-calendar.jpg);
}
.u-polla {
	background-image: url(../img/hero-polla.jpg);
}
.u-premios {
	background-image: url(../img/hero-premios.jpg);
}
.hero {
	display: block;
	position: relative;
	width: 100%;
	height: 455px;
	background-size: cover;

	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 140px;
		position: absolute;
		bottom: 0;
		background: url(../img/forma-1.svg) 100% 100%, 
		url(../img/forma-2.svg) 100% 100%, 
		url(../img/forma-3.svg) 100% 100%, 
		url(../img/forma-4.svg) 100% 100%;
		background-size: cover;
	}

	&Container {
		position: relative;
		width: 80%;
		max-width: 100%;
		margin: 0 auto;
		padding: 1em 0;
	}
	&Logo {
		width: 200px;
		margin: 0 auto;
	}
	&Pic {
		position: absolute;
		z-index: 9;
	}
	&Cta {
		position: absolute;
		right: 0;

		h1 {
			color: $blanco;
			text-transform: uppercase;
			font-size: 50px;
			text-align: right;
			text-shadow: 2px 4px 2px rgba(0, 0, 0, .50);
			span {
				font-weight: 900;
				font-size: 60px;
			}
		}
	}
}

// Steps 
.steps {
	margin-top: 4em;

	&Item {

		.u-cont {
			position: relative;
			margin-top: -4em;
			padding-left: 5em;
			h4 {
				color: $azulOscuro;
				font-weight: 600;
				font-size: 26px;
			}
			p {
				font-size: 12px;
				font-weight: 100;
			}
		}
	}
}

// Home Calendar

.calendar {
	width: 100%;
	height: 400px;
	display: flex;
	background-image: url(../img/img-calendario.jpg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: right center;

	&Content {
		width: 55%;
		padding: 4em 0 0 100px;
		background-image: url(../img/forma-calendario.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: right center;
		color: $blanco;

		p {
			font-weight: 100;
			font-size: 20px;
		}
		h4 {
			text-transform: uppercase;
			font-weight: 100;
			font-size: 30px;
			span {
				font-weight: 700;
			}
		}
	}
	&Pic {
		width: 40%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;

		a {
			color: $blanco;
			font-size: 20px;
			font-weight: 400;
			i {
				color: $azulClaro;
			}
		}
	}
}


// Dates side bar 
.dates {
	z-index: 99;
	display: block;
	position: fixed;
	left: 72px;
	top: 0;
	bottom: 0;
	max-height: 100vh;
	overflow-y: scroll;
	background-color: $gris;
	width: 160px;

	&::-webkit-scrollbar {
		width: 2px !important;
	}

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent !important;
		border-left: 10px solid $azulClaro;
		outline: 0;
	}

	&Container {
		position: relative;
		display: block;
		padding: 8px;
	}

	.date {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding-bottom: 4px;
		border-bottom: 1px solid $grisText;
		margin-bottom: 8px;
		
		.day {

			span {
				font-size: 14px;
				color: $azulOscuro;
				font-weight: 600;
			}
			h4 {
				margin: 0;
				font-weight: 900;
				font-size: 34px;
				color: $azulOscuro;
			}
		}
		.month {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-end;

			span {
				color: $grisText;
				font-weight: 100;
				font-size: 14px;
			}

			.matchs {
				display: grid;
				grid-template-columns: 14px 14px;
				grid-template-rows: 14px 14px;
				i {
					color: $azulClaro;
					font-size: 12px;
				}
			}
		}
	}
}


// Calendario section
.u-title-fase {
	text-align: center;

	.u-tyc {
		color: $azulOscuro;
		font-size: 14px;
		font-weight: 100;
		padding: 2em 0;
		span {
			color: $grisText;
		}
	}

	h4 {
		color: $azulOscuro;
		font-size: 16px;
		font-weight: 900;
		line-height: 1.2;
		span {
			color: $azulClaro;
			font-size: 24px;
		}
	}
}
.sec-calendar {
	width: 100%;
	position: relative;

	&Container {
		max-width: 100%;
		width: calc(100% - 250px);
		margin-left: 250px;
		padding: 1em;
	}
}

.matchsContainer {
	position: relative;
	display: block;
	max-width: 100%;
}
.matchItem {
	max-width: 100%;
	width: 850px;
	margin: 0 auto;
	display: grid;
	position: relative;
	grid-template-columns: repeat(7, 1fr);
	border-left: 2px solid $azulClaro;
	margin-bottom: 4em;
	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: -1.5em;
		width: 100%;
		border-top: 1px solid $gris;
	}

	.item {

	}

	.one {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.group {
			background-color: $azulClaro;
			color: $blanco;
			font-size: 10px;
			font-weight: 100;
			padding: 4px 4px 0 4px;
			margin-bottom: 4px;
		}
		.date {
			display: flex;
			flex-direction: column;
			align-items: center;
			.day {
				color: $azulOscuro;
				font-size: 12px;
				font-weight: 700;
				line-height: 1;
			}
			.number {
				color: $azulOscuro;
				font-size: 34px;
				font-weight: 900;
				line-height: 1;
			}
			.month {
				color: $grisText;
				font-size: 14px;
				font-weight: 100;
				line-height: 1;
			}
		}
	}

	.two {
		display: flex;
		justify-content: center;
		align-items: center;

		.u-flag {
			width: 40px;
			height: 40px;
			object-fit: cover;
			object-position: center;
			border-radius: 50%;
		}
		.u-name {
			color: $azulOscuro;
			text-transform: uppercase;
			font-size: 24px;
			font-weight: 900;
			padding-left: .5em;
		}
	}

	.three {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p {
			color: $azulOscuro;
			font-size: 30px;
		}
	}

	.four {
		display: flex;
		justify-content: center;
		align-items: center;

		.u-time {
			text-align: center;
			color: $grisText;
			font-weight: 100;
		}
	}

	.five {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p {
			color: $azulOscuro;
			font-size: 30px;
		}
	}

	.three, .five {
		input {
			width: 50px;
			height: 50px;
			border: 0;
			background-color: $gris;
			text-align: center;
			font-size: 30px;
			color: $azulOscuro;
			padding: 0;
			margin: 0 0 10px 0;
		}
	}

	.six {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;

		.u-flag {
			width: 40px;
			height: 40px;
			object-fit: cover;
			object-position: center;
			border-radius: 50%;
		}
		.u-name {
			color: $azulOscuro;
			text-transform: uppercase;
			text-align: right;
			font-size: 24px;
			font-weight: 900;
			padding-right: .5em;
		}
	}

	.seven {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;

		p {
			text-align: right;
			color: $grisText;
			font-weight: 100;
			&:after{
				content:"";
				width: 30px;
				border-top: 1px solid $azulClaro;
				display: block;
				margin-left: auto;
			}
		}
		b {
			text-align: right;
			font-weight: 800;
		}
	}

	.btn-cont {
		grid-column: 4 / span 1;

		.btn {
			background-color: $azulClaro;
			font-size: 13px;
			padding: 0 6px;
			width: 150px;
		}
		.btn-outline {
			background-color: transparent !important;
			border: 1px solid $azulClaro;
			color: $azulClaro;
		}
	}
}


// Login

