@import 'mixins';

//Utilidades

body {
	font-family: 'Roboto', sans-serif;
	color: $grisText;
}
.u-title {
	color: $azulClaro;
	font-size: 42px;
	font-weight: 600;
}


// Header Menu

.nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	max-height: 100vh;
	overflow-y: scroll;
	background-color: $azulOscuro;
	z-index: 99;
	&Short {
		width: 72px;
		position: relative;

		&Container {
			.u-logo {
				background-color: $azulClaro;
				text-align: center;
				padding: 10px 0;
				line-height: 0;
			}
			.u-profile {
				margin-top: 60px;
				text-align: center;
			}
			.u-points, .u-menu {
				margin-top: 60px;
				text-align: center;
				.item {
					margin-bottom: 32px;

					.u-yellow {
						color: $verde;
					}
					.u-purple {
						color: $morado;
					}
					.u-red {
						color: $rojo;
					}
					.u-blue {
						color: $azulClaro;
					}
				}
			}
		}
	}
}

// Hero 

.hero {
	display: block;
	position: relative;
	width: 100%;
	height: 455px;
	background-image: url(../img/hero-home.jpg);
	background-size: cover;

	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 140px;
		position: absolute;
		bottom: 0;
		background: url(../img/forma-1.svg) 100% 100%, 
			url(../img/forma-2.svg) 100% 100%, 
			url(../img/forma-3.svg) 100% 100%, 
			url(../img/forma-4.svg) 100% 100%;
		background-size: cover;
	}

	&Container {
		position: relative;
		width: 80%;
		max-width: 100%;
		margin: 0 auto;
		padding: 1em 0;
	}
	&Logo {
		width: 200px;
		margin: 0 auto;
	}
	&Pic {
		position: absolute;
		z-index: 9;
	}
	&Cta {
		position: absolute;
		right: 0;

		h1 {
			color: $blanco;
			text-transform: uppercase;
			font-size: 50px;
			text-align: right;
			span {
				font-weight: 900;
				font-size: 60px;
			}
		}
	}
}

// Steps 
.steps {
	margin-top: 4em;

	&Item {

		.u-cont {
			position: relative;
			margin-top: -4em;
			padding-left: 5em;
			h4 {
				color: $azulOscuro;
				font-weight: 600;
				font-size: 26px;
			}
			p {
				font-size: 12px;
				font-weight: 100;
			}
		}
	}
}