// Prefijos 

$prefixes: "webkit", "moz", "ms", "o", "none";
@mixin prefix($property, $arguments) {
	@each $prefix in $prefixes {
		@if $prefix == "none" {
			#{$property}: $arguments;
			} @else {
				-#{$prefix}-#{$property}: $arguments;
			} 
		}
	}

// Media Queries


@mixin for-phone-only {
	@media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
	@media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) { @content; }
}

// Variables

$azulOscuro: #2C343E;
$azulClaro: #0ED9B2;
$blanco: #ffffff;
$grisText: #A3A3A3;
$gris: #EAEAEA;

$verde: #E0FF33;
$morado: #8245E6;
$rojo: #FF3366;